.contains-call{
    width: 100%;
    @include flex-center;
    padding-bottom: 5vh;
    background-color: $beige;
    .call{
        @include width;
        @include padding;
        @include flex-center;
        flex-direction: column;

        .call-img{

            width: 75px;
            height: 75px;
            margin: 30px 0px 15px;
            @include padding;
        }

        h2{@include titleH2; color: $rojo; text-align: center};
        p{@include padding; @include p-center}
        .button{ @include btn; margin: 5px 0px;}
    }
}