.contains-carrousel{
    width: 100%;
    @include flex-center;
    flex-direction: column;
    background-color: $beige;
    .carrousel-title{
        @include flex-center;
        flex-direction: column;
        position: relative;
        .bg-div-title{
            position: absolute;
            z-index: 1;
            @include width;
            display: flex;
            flex-direction: column;
            align-items: center;
            .bg-title{
                height: 2rem;
                width: 100%;
                padding: 0 3rem;
                border-radius: 1rem;
                background-color: $rojo;
            }
        }
        
        .title-txt{
            position: relative;
            z-index: 3;
            display:inline;
            text-align: center;
            h2{
                @include titleH2;
                max-width: 100%;
                color: $blanco;
                text-align: center;}
        }
    }

    .carrousel-div{
        @include width;
        @include flex-center;
        .carrousel{
            width: 100%;
            @include padding;
            overflow: hidden;
            .grande{
                width: 300%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                flex-flow: row nowrap;
                transition: all .5s ease;
                transform: translateX(0%);
                .img{
                    width: calc( 100% / 3 - 3em );
                    min-height: 10vh;
                    background-color: beige;
                }
            }

            .contains-puntos{
                @include flex-center;
                .puntos{
                    max-width: 500px;
                    padding: 0%;
                    margin:1rem;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    flex-flow: row nowrap;
                    .punto{
                        cursor: pointer;
                        width:  1.5rem;
                        height: 1.5rem;
                        margin: 1.5rem;
                        border-radius: 50%;
                        background-color: antiquewhite;
                    }
                    .punto.activo{background-color: lightblue;}
                }
            }
            


        }
    }
}