.contains-header{
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    @include flex-center;
    flex-direction: column;
    position: absolute;
    background-color:transparent;
    
    .header1{
        @include flex-center;
        width: 90%;
        height: 100px;
        .header{
            @include width;
            @include padding;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .header-logo{font-size: 1.5rem; font-weight: 600;}
            .header-links{
                display: block;
                overflow-y: hidden;
                a{
                    color: $blanco;
                    text-align: center;
                    text-decoration: none;
                    font-weight: 500;
                    margin: 0px 15px;
                    padding: 30px 15px;
                    &:hover{
                        color: $verde-claro;
                        font-weight: 600;
                        transition: all .5s ease;
                    }
                }
            }
            .header-menu{display: none;}
        }
    }

    .header2{
        display: none;
        .header2-links{
            display: flex;
            flex-direction: column;
            a{
                color: $blanco;
                text-align: center;
                text-decoration: none;
                font-weight: 500;
                margin: 10px 15px;
                
            }
        }
    }
}


// RESPONSIVE
@media screen and (max-width: 768px) {
    .contains-header{
        .header1{
            .header{
                .header-links{display: none;}
                .header-menu{
                    display: block;
                    .hamburger-box{overflow:visible;.hamburger-inner{overflow:visible}}
                }
            }
        }

        .header2{
            display: none;
            .header2-links{display: flex;flex-direction: column;}
        }
        .header2-active{display: block;
            .header2-links{display: flex;flex-direction: column;}
        }
    }
}