.contains-hero{
    width: 100%;
    @include flex-center;
    position: relative;
    overflow-x: hidden;
    background-color: $rojo;
    .hero-img{
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 1;
        overflow: hidden;
        img{
            object-fit: cover;
            overflow: hidden;
        }
    }
    .hero{
        position: relative;
        z-index: 3;
        @include width;
        @include flex-center;
        flex-direction: column;
        height: 100vh;
        h1{ @include titleH1; color: $blanco;}
        p{color: $blanco; @include padding;}
        .button{
            @include btn;
        }
    }
}